<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员首页</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
</head>
<body>
    <h1>这是管理员首页（角色：admin）</h1>
    <p>这个页面在正常的情况下只有管理员才能去访问</p>
</body>
</html>