<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
</head>

<body>
    <h1>这是登陆页面</h1>
    name: <input type="text" name="name" id="name"><br>
    pass: <input type="password" name="pass" id="pass"><br>
    <input type="submit" value="登陆" id="login">
    <script>
        // 可以把 token保存本地的localStorage中
        var token="";
        $("#login").click(function () {
            var name = $("#name").val();
            var pass = $("#pass").val();
            $.post("/login", { "name": name, "pass": pass }, function (data) {
                console.log(data.message);
                console.log(data.token);
                if(!data.token){
                    alert("登陆失败");
                }else{
                    alert("登陆成功");
                }
            });
        });
    </script>
</body>

</html>