<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>普通用户首页</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
</head>
<body>
    <h1>这是普通用户的首页（角色： member）</h1>
    <p>这个页面只要是用户基本上都能打开</p>
</body>
</html>