.left-nav{
  height: 100vh;
  background: #001529;
}
.img-container{
  text-align: center;
}
.img-container img{
  width: 80%;
  height: 100%;
}
.home-content{
  height: 65vh;
  text-align: center;
  margin-top: 15vh;
}