body {
  margin: 0px;
  padding: 0px; }

.div1 {
  background-color: #aeaeae; }

.div1 {
  border-left: 1px solid red; }

.div {
  margin-left: 334px;
  font: 1.25px;
  width: 500px;
  width: 1;
  height: 12px;
  margin-right: 9px; }

.div1 .span {
  height: 12px;
  width: 100px; }

.div1 .div2 {
  width: 23px;
  height: 90px; }

p {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  margin-top: 23px;
  margin-left: 23px;
  margin-right: 34px;
  margin-bottom: 100px; }

.div1:hover {
  cursor: pointer; }

.class1, .class2 {
  font-size: 12px; }

.class2 {
  color: #ff0036; }

.class1, .class2 {
  border: 1px solid red; }

div {
  float: left;
  margin-left: 12px;
  width: 120px; }

.class1, .class2 {
  font-size: 12px;
  display: block;
  margin-left: 34px;
  margin-right: 54px;
  padding: 120px; }

.class2 {
  font-size: 54px;
  display: block;
  margin-left: 343px;
  margin-right: 42px;
  padding: 90px; }

p {
  border: 1px solid red;
  margin-top: 10px; }
