body{
    margin: 0px;
    padding: 0px;
    touch-action: none;
}

#page-1{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #083846;
}
#page-1 .cover{
    width: 248px;
    /* margin: 0px auto; 注意行级元素不能使用margin居中,
    对于行级元素一般使用text-align居中（单行元素，不能是多行），*/
    position: absolute;
    left: 50%;
    margin-left: -124px;
}
#page-1 .wording-cover{
    width: 185px;
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: -92.5px;
}
#page-1 .icon-up{
    width: 25px;
    position: absolute;
    left: 50%;
    margin-left:-12.5px; 
    bottom: 30px;
}
.moveFromTop{
    animation: moveFromTop .6s ease forwards;
}

.moveFromLeft{
    /* 注意时间要加单位 */
    animation: moveFromLeft .6s ease forwards;
}
.moveFromIcon{
    animation: moveFromIcon 1.5s ease infinite forwards;
}

@keyframes moveFromTop{
    0%{
        transform: translateY(-100%);
    }
}
@keyframes moveFromLeft{
    0%{
        transform: translateX(-100%);
    }
}
@keyframes moveFromIcon{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
    /*
        0%--隐藏
        50%-显示向上移
        100%-隐藏向下移
    */
}

.hidden{
    display: none;
}
#page-2{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #9261BF;
}

#page-2 .wording{
    width: 158px;
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
    margin-left: -79px;
}
#page-2 .circle{
    width: 240px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -120px;
}

#page-2 .floating-deve{
    width: 248px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -124px;
}
#page-2 .people{
    width: 241px;
    position: absolute;
    left: 50%;
    top: 180px;
    margin-left: -120.5px;
}

#page-2 .check-deve{
    width: 142px;
    position: absolute;
    bottom: 85px;
    left: 50%;
    margin-left: -71px;
}

#page-2 .dot1{
    width: 20px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -10px;
}

#page-2 .icon-up{
    width: 25px;
    position: absolute;
    left: 50%;
    margin-left:-12.5px; 
    bottom: 30px;
}



.moveScale{
    animation: moveScale .6s ease forwards;
}

.moveCircle{
    animation: moveCircle 1.2s ease forwards;
}

.moveFromBottom{
    animation: moveFromBottom .6s ease forwards;
}

@keyframes moveScale{
    0%{
        transform: scale(0);
    }
}
@keyframes moveCircle{
    0%{
        transform: translateY(-60%);
    }
    30%{
        transform: translateY(30%)
    }
    50%{
        transform: translateY(-20%);
    }
    80%{
        transform: translateY(15%);
    }
    100%{
        transform: translateY(-5%);
    }
}

@keyframes moveFromBottom{
    /* 注意百分之零是元素的初始状态 ，
    从这个初始状态的基础之上进行变换，如果只有一个初始状态参数，
    则其末状态是当前元素的默认样式*/
    0%{
        transform: translateY(100%);
    }
}

.moveToTop{
    animation: moveToTop .6s ease forwards;
}
.moveToBottom{
    animation: moveToBottom .6s ease forwards;
}
@keyframes moveToTop{
    100%{
        transform: translateY(-100%);
    }
}
@keyframes moveToBottom{
    /* 注意百分之百是元素的末状态， 
    如果只有这个参数，则其初始状态就是当前元素的默认样式 */
    100%{
        transform: translateY(100%);
    }
}
