body{
    height: 2000px;
}

#container{
    background: #f2f2f2;
    height: 32px;
}

/* 给整个导航条设置样式 */
#navigator {
    margin: 0px auto;
    width: 1230px;
    height: 32px;
}

/* 给menue-login的li选项列表设置浮动 */
#navigator .menue-login>li {
    float: left;
}

/* 设置每一个列表项的具体样式 */
#navigator .menue-login>li a,
#navigator .menue-login>li span,
#navigator .menue-nav>li >a {
    color: #999;
    font-size: 12px;
    line-height: 32px;
    display: block;
    height: 32px;
    margin:0px 10px;
}

/* 给menue-nav的li选项列表设置浮动 */
#navigator .menue-nav>li {
    float: right;
    margin: 0px 6px;
}

/* 给所有的列表项设置悬浮的颜色 */
#navigator .menue-login li a:hover,
#navigator .menue-nav>li:hover>a,
#navigator .menue-nav >li .submenue >li:hover>a ,
#navigator .menue-nav >li .bussi-suppor-menue .submenue >li:hover >a{
    color: #ff0036;
}

/* 当鼠标浮动在导航列表的时候，显示下划线 */
#navigator .menue-nav .item a:hover {
    text-decoration: underline;
}

#navigator .menue-nav .item {
    position: relative;
}

#navigator .menue-nav .item:hover >.submenue {
    position: absolute;
}

/* 为子列表设置边框 */
#navigator .menue-nav>li >.submenue {
    /* height: 32px; */
    /* background: pink; */
    /* border: 1px solid #eee; */
    border-width: 1px;
    border-style: solid;
    border-color: transparent #eee #eee #eee;
}

/* 为子列表设置外边距 */
#navigator .menue-nav>li >.submenue >li >a {
    width: 72px;
    color: #999;
    font-size: 12px;
    line-height: 32px;
    display: block;
    height: 32px;
    text-align: center;
    /* margin:0px 10px; */
}

#navigator .menue-nav >li .bussi-suppor-menue .submenue >li >a {
    width: 60px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    display: block;
    height: 20px;
    text-align: center;
}

/* 设置默认子列表是不显示的 */
#navigator .menue-nav>li .submenue ,#navigator .menue-nav >li .bussi-suppor-menue {
    display: none;
}

/* 设置当鼠标划过子列表上的选项卡的时候，子列表显示 */
#navigator .menue-nav>li:hover .submenue ,#navigator .menue-nav >li:hover .bussi-suppor-menue {
    display: block;
}

/* 设置当鼠标划过导航列表的选项卡的时候，设置背景颜色 */
#navigator .menue-nav .item:hover {
    background: #fff;
}

#navigator .menue-nav >li{
    position: relative;
}

#navigator .menue-nav >li .iconfont{
    position: absolute;
    top: 9px;
    left:-5px;
    font-size:12px;
    color: #ff0036;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

#navigator .menue-nav .tringle .arrow{
    height: 0px;
    width: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 4px;
}

#navigator .menue-nav >li .two-dimensional-barcode {
    display: none;
}

#navigator .menue-nav >li:hover .two-dimensional-barcode{
    display: block;
    position: absolute;
    left: -60px;
    top: 28px;
    border-width:1px;
    border-style: solid;
    border-color: #eee #eee transparent #eee;
}

#navigator .menue-nav >li:hover .arrow1{
    height: 0px;
    width: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: 15px;
    left: 50%;
}

#navigator .menue-nav .item .bussi-suppor-menue{
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #eee #eee #eee;
    padding-bottom: 5px;
    left: -73px;
}

#navigator .menue-nav .item .bussi-suppor-menue .submenue{
    width: 140px;
    /* background:#ccc; */
    border-bottom: 1px dotted #999;
}

#navigator .menue-nav .item .bussi-suppor-menue .submenue li{
    float: left;
    height: 20px;
    margin: 0px 5px;
}

#navigator .menue-nav .item .bussi-suppor-menue span{
    font-size: 12px;
    margin-left: 10px;
}