body{
    height: 2000px;
}

#container{
    background: #f2f2f2;
}

/* 给整个导航条设置样式 */
#navigator {
    margin: 0px auto;
    width: 1230px;
    height: 32px;
}

/* 给menue-login的li选项列表设置浮动 */
#navigator .menue-login>li {
    float: left;
}

/* 设置每一个列表项的具体样式 */
#navigator .menue-login >li a,
#navigator .menue-login >li span,
#navigator .menue-nav >li >a {
    color: #999;
    font-size: 12px;
    line-height: 32px;
    display: block;
    height: 32px;
    padding:0px 10px;
    /* background: red; */
}

/* 给所有的列表项设置悬浮的颜色 */
#navigator .menue-login >li:hover >a,#navigator .menue-nav >li:hover a , #navigator .menue-nav .item .submenue li:hover a{
    color: #ff0036;
}

/* 为子列表设置外边距 */
#navigator .menue-nav .item .submenue li a {
    width: 72px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    display: block;
    height: 20px;
    text-align: center;
    /* padding: 0px 2px; */
    /* margin: 10px 0px; */
}

#navigator .menue-nav .item .submenue .submenue-bussi-help li a {
    width: 50px;
    height: 20px;
}





/* 为所有的导航项设置相对定位, 并且设置向右浮动*/
#navigator .menue-nav >li {
    position: relative;
    float: right;
    margin: 0px 6px;
}

/* 可以在此处设置导航项右侧的小三角形的动画 */

/* 设置当鼠标划过导航列表的选项卡的时候，设置背景颜色，显示下划线*/
#navigator .menue-nav .item:hover, #navigator .menue-nav .submenue li:hover a {
    background: #fff;
    text-decoration: underline;
}

/* 设置默认子列表是不显示的且为绝对定位 ，同时为子列表设置边框*/
#navigator .menue-nav .item .submenue {
    display: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #eee #eee #eee;
    position: absolute;
    padding: 8px 8px;
}

/* 设置当鼠标划过子列表上的选项卡的时候，子列表显示 ，#navigator .menue-nav >li:hover .bussi-suppor-menue*/
#navigator .menue-nav .item:hover .submenue {
    display: block;
}

/* 使用绝对定位设置小图标的位置 */
#navigator .menue-nav >li .iconfont{
    position: absolute;
    top: 10px;
    left: 0px;
    font-size:12px;
    color: #ff0036;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}


/* 设置小箭头 */
#navigator .menue-nav .tringle .arrow{
    height: 0px;
    width: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 2px;
}


/* 设置二维码图片默认是隐藏的并且使用绝对定位使其脱离文档流 */
#navigator .menue-nav .toggle-phone .two-dimensional-barcode {
    display: none;
    position: absolute;
    left: -60px;
    top: 28px;
    border-width:1px;
    border-style: solid;
    border-color: #eee #eee transparent #eee;
}

/* 设置二维码在鼠标移过的时候显示 */
#navigator .menue-nav .toggle-phone:hover .two-dimensional-barcode{
    display: block;
}


/* 设置手机版导航条的小箭头 */
#navigator .menue-nav .toggle-phone:hover .tringle-self{
    height: 0px;
    width: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: 15px;
    left: 20px;
}


/* 一下是商家支持部分样式 */
#navigator .menue-nav .item .bussi-suppor-menue{
    /* position: absolute; */
    padding: 0px 0px 8px 8px;
    left: -81px;
}

#navigator .menue-nav .item .bussi-suppor-menue .submenue-bussi-help{
    width: 120px;
    border-bottom: 1px dotted #999;
    padding-bottom: 2px;
}

#navigator .menue-nav .item .bussi-suppor-menue .submenue-bussi-help li{
    float: left;
    height: 22px;
    margin: 1px 5px 1px 0px;
}

#navigator .menue-nav .item .bussi-suppor-menue span{
    font-size: 12px;
}

#navigator .menue-nav .icon-owner{
    padding-left: 3px;
    /* padding-right: -10px; */
    /* background: red; */

}