<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #app .title {
            text-align: center;
        }

        .active {
            background: #f00;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 class="title">todolist</h1>
        <hr>
        名称： <input type="text" placeholder="请输入产品名称" name="name" v-model="name"><br>
        价格： <input type="text" v-model="price"><br>
        <button @click="add">增加</button><br>
        <input type="text" placeholder="请搜索关键字" v-model="queryName"><button @click="query">查询</button>

        <table>
            <tr>
                <th>多选删除</th>
                <th>单选删除</th>
                <th>名称</th>
                <th>价格</th>
            </tr>
            <!-- v-bind:class="{isActive?actvie:'', selected}" -->
            <tr v-for="(item,index) in productList" @click="toggleClass(item.price,$event)">
                <td><input type="checkbox" v-bind:value="item.name" :name="item.name" v-model="selectedArr"></td>
                <td><button @click.stop="deleteSelected(item.name)">X</button></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
            <tr>
                <td><button @click.stop="deleteAllSelected">删除选中</button></td>
                <td rowspan="3">sum: {{sum}}</td>
            </tr>
            {{selectedArr}}
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                selectedArr: [],
                name: "",
                price: 0,
                queryName: "",
                // isActive: false,
                sum: 0,
                productList: [
                    {
                        name: "衣服",
                        price: 1200
                    },
                    {
                        name: "鞋子",
                        price: 800
                    },
                    {
                        name: "裤子",
                        price: 1800
                    },
                    {
                        name: "电脑",
                        price: 2000
                    },
                ]
            },
            methods: {
                // 添加数据
                add() {
                    let productObj = {
                        name: this.name,
                        price: this.price
                    };
                    this.productList.push(productObj);
                },
                // 查询数据
                query() {
                    let arr = this.productList.filter((item) => {
                        return this.queryName === item.name;
                    });
                    this.productList = arr;
                },
                // 删除单条数据
                // arrayObject.splice(index,howmany,item1,.....,itemX)
                // index	必需。整数，规定添加/删除项目的位置，使用负数可从数组结尾处规定位置。
                // howmany	必需。要删除的项目数量。如果设置为 0，则不会删除项目。
                // item1, ..., itemX	可选。向数组添加的新项目。
                deleteSelected(name){
                    this.productList.forEach((item,index)=>{
                        if(item.name===name){
                            this.productList.splice(index,1);
                        }
                    });
                },
                // 删除多条数据
                deleteAllSelected(){
                    //console.log(this.productList);
                    this.selectedArr.forEach((item1)=>{
                        this.productList.forEach((item,index)=>{
                            if(item1===item.name){
                                this.productList.splice(index,1);
                                // 因为上面每一个if判断中执行splice()后，原数组变化，原数组的中每一项的下标是会改变的
                                // 所以使用的index--的方法来解决这个问题
                                index--;
                            }
                        });
                    });
                },
                // 切换样式
                toggleClass(price,e){
                    // console.log(e.currentTarget);
                    if(e.currentTarget.className){
                        e.currentTarget.className="";
                        this.sum-=price;
                    }else{
                        e.currentTarget.className="active";
                        this.sum+=price;
                    }
                }
            }
        });
    </script>
</body>

</html>