<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/space2011.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.css" media="screen">
    <script type="text/javascript" src="javascripts/jquery-1.js"></script>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/jquery_002.js"></script>
    <script type="text/javascript" src="javascripts/oschina.js"></script>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
</head>
<body>
    <h1>这是一个作为looser的界面（权限是looser）</h1>
</body>
</html>